@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
*{
  box-sizing: border-box;

}

body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Montaga', serif;
  background-image: url("../img/img-background\ -\ copia.png");
  background-repeat: repeat;
  color: dimgray;
}




/* INICIO Styles del FOOTER */
.footer_container{
  border: solix, 1px, blue;
  display : flex;
  flex-wrap : wrap ;
  padding: 10px;
}
.footer_seccion1{
  display : inline-flex;
  padding: 10px;
}
.footer_seccion2{
display : inline-flex;
padding: 10px;
}
.footer_wrapper{
display : flex;
justify-content: center;
padding: 10px;
}
.texto_small_footer{

}
/* FIN Styles del FOOTER */

/* INICIO Styles del REGISTRO y LOGIN */
.hypervinc_register, .hypervinc_login{
  text-decoration: none;
  color: inherit;
}
.register_container, .login_container{
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  margin-left: 0.5em;
}
.input_register, .input_login{
  border: solid 1px rgb(133, 132, 132);
  display: block;
  width: 80%;
  height: 50px;
  font-size: 1.3em;
  padding: 0.3em 0.3em;
  background-color: rgba(246, 171, 202, 0.37);
  margin: 0.5em 0 1em 0;
}
.label_register, .label_login{
  font-size: 1.5em;
}
.h2_register, .h2_login{
  font-size: 2em;
}
.input_register_checkbox, .input_login_checkbox{
  margin-left: 0.5em;
  width: 1em;
  height: 1em;
}
.button_register, .button_login{
  font-size: 1.5em;
  margin-top: 20px;
  padding: 0.5em 1em;
  background-color: rgba(246, 171, 202);
  color: inherit;
}
/* FIN Styles del REGISTRO y LOGIN */

@media (min-width: 992px) {
  /* INICIO Styles del REGISTRO y LOGIN */
  .div_container{
    display: inline-flex;
    width: 100%;
    justify-content: center;
  }
  .register_container, .login_container{
    margin-left: none;
    width: 40%;
  }
  .input_register, .input_login{
    width: 100%;
    height: 30px;
    font-size: 1em;
    padding: 1em 1em;
  }
  /* FIN Styles del REGISTRO y LOGIN */
}
