@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');

*{
  box-sizing: border-box;

}

body {
  font-family: 'Open Sans', sans-serif;
  /* font-family: 'Montaga', serif; */
  background-image: url("../img/hearts_3.png");
  background-repeat: repeat;
  color: dimgray;
  margin:0,auto;
}

.contenedor{
  /* Contenedor del contenido del body */
  margin: 35px 70px 25px;
}

/* INICIO STYLES del FOOTER */
.footer_ul{
/* Estilo de las listas usadas en el footer */
  margin: 0;
  /* overflow:hidden; */
  list-style-type: none;
  padding: 5px;
}
.footer_ul a{
/* Estilo de los links en el footer */
  text-decoration:none;
  color: inherit;
  font-family: inherit;
}
.footer_ul a:hover {
/* Estilo de los links al pasarles el mouse en el footer */
  color: #c78283;
  text-decoration-style: solid;
}
.footer_iconos li{
/* Estilos de los iconos usados en el footer */
  display: flex;
  justify-content: flex-start;
  padding: 5px 0px 5px;
}
.footer_container{
/* Estilo del contenedor del footer */
  background-color:white;
  display:flex;
  flex-wrap:wrap;
  font-size: 13px;
  line-height : 18px;
  padding: 5px 15px 5px;
}
.footer_titulos{
  /* Estilos de los titulos del footer */
  font-family: inherit;
  text-transform: uppercase;
  font-weight:bold;
  font-size: 14px;
  padding: 5px 0px 5px;
  margin-bottom: 7px;
  border-bottom: solid dimgrey 2px;
  border-color: #c78283;
}
.footer_ayuda, .footer_miCuenta, .footer_contacto, .footer_social{
/* Estilos de las 4 cajas dentro del contenedor del footer */
  flex-grow: 1;
  flex-basis: 0;
}
.footer_newsletter, .footer_newsletter input {
/* Estilos para el input del newsletter en footer */
  display:flex;
  flex-grow: 1;
  padding: 5px 2px 5px;
  color:inherit;
}

.footer_marca{
  font-family: inherit;
  font-size: 2em;
}
.footer_heart{
  color:#c78283;
}

.footer_creditos{
/* Estilo del contenedor de los creditos al pie */
  background-color:#c78283;
  color: white;
  font-family: inherit;
  font-size: 12px;
  padding: 1px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  text-align: center;
}
/* FIN Styles del FOOTER */

/* INICIO Styles del REGISTRO y LOGIN */
.hypervinc_register, .hypervinc_login{
  text-decoration: none;
  color: inherit;
}
.register_container, .login_container{
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  margin-left: 0.5em;
}
.input_register, .input_login{
  border: solid 1px rgb(133, 132, 132);
  display: block;
  width: 80%;
  height: 50px;
  font-size: 1.3em;
  padding: 0.3em 0.3em;
  background-color: rgba(246, 171, 202, 0.37);
  margin: 0.5em 0 1em 0;
}
.label_register, .label_login{
  font-size: 1.5em;
}
.h2_register, .h2_login{
  font-size: 2em;
}
.input_register_checkbox, .input_login_checkbox{
  margin-left: 0.5em;
  width: 1em;
  height: 1em;
}
.button_register, .button_login{
  font-size: 1.5em;
  margin-top: 20px;
  padding: 0.5em 1em;
  background-color: rgba(246, 171, 202);
  color: inherit;
}
/* FIN Styles del REGISTRO y LOGIN */

@media (min-width: 992px) {
  /* INICIO Styles del REGISTRO y LOGIN */
  .div_container{
    display: inline-flex;
    width: 100%;
    justify-content: center;
  }
  .register_container, .login_container{
    margin-left: none;
    width: 40%;
  }
  .input_register, .input_login{
    width: 100%;
    height: 30px;
    font-size: 1em;
    padding: 1em 1em;
  }
  /* FIN Styles del REGISTRO y LOGIN */
}
